@page "{id:int}"
@model GTracker.Pages.EditModel
@{
    ViewData["Title"] = "Edit Game";
}

<h1>Edit Game</h1>

@if (Model.Game == null)
{
    <p class="text-danger">Game not found.</p>
}
else
{
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Game.Id" />


        <div class="mb-3">
            <label asp-for="Game.Title" class="form-label"></label>
            <input asp-for="Game.Title" class="form-control" />
            <span asp-validation-for="Game.Title" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Game.releaseYear" class="form-label"></label>
            <input asp-for="Game.releaseYear" class="form-control" type="number" />
        </div>

        <div class="mb-3">
            <label asp-for="Game.Genre" class="form-label"></label>
            <input asp-for="Game.Genre" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Game.Platform" class="form-label"></label>
            <input asp-for="Game.Platform" class="form-control" />
            <span asp-validation-for="Game.Platform" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Game.Status" class="form-label"></label>
            <select asp-for="Game.Status" class="form-select"
                    asp-items="Html.GetEnumSelectList<GTracker.Models.GameStatus>()">
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Box Art</label>

            @if (Model.Game?.BoxArt != null)
            {

                <div class="small text-success mb-1">
                    ✔ An image is already uploaded
                </div>

                <div class="mb-2">
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Game.BoxArt)"
                         class="img-fluid rounded shadow"
                         style="max-width:400px;"
                         alt="Current Box Art" />
                    <div class="text-muted small">
                        Current image (already saved)
                    </div>
                </div>
            }

            <input type="file"
                   asp-for="UploadedImage"
                   class="form-control" />

            <small class="form-text text-muted">
                Choose a new image only if you want to replace the current one
            </small>
        </div>




        <div class="mb-3">
            <label asp-for="Game.Notes" class="form-label"></label>
            <textarea asp-for="Game.Notes" class="form-control" rows="3"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a asp-page="/Index" class="btn btn-secondary">Cancel</a>
    </form>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
